.input-placeholder {
  font-size: 14px;
  line-height: 28px;
  &:focus {
    border: 1px solid #337ab7 !important;
    box-shadow: 0 0 8px rgba(51, 122, 183, 0.6) !important;
  }
}

.input-placeholder::placeholder {
  color: #999999 !important;
}
